.whole{
    display: flex;
    margin-right: 50px;
}

.whole>div:first-child{
    padding-left: 50px;
    margin-right: 30px;
}

.whole>div:second-child{
    margin: 10 auto;
    text-align: left;
    color:black;
    padding-right:40px;
}